
.posts {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        width: 800px;
        margin: 0 auto;
        background-color: #252525;
        height: 100vh;
    }
}

@media screen and (max-width: 800px) {
    .post__wrapper {
        width: 100%;
    }
}