
.home {
    background-color: #252525;
    min-height: calc(100vh);
}

.home__header {
    height: 40vh;
    // background-image: url("./833534.png");
    background-position: 0 20%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rowdies', cursive;
    position: relative;

    &__heading {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 40px;
        font-size: clamp(16px, 3vw, 40px);
        color: #fff;
        justify-self: center;
    }

    nav {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 40px;

        a {
            font-size: clamp(16px, 3vw ,1.3rem);
            color: #fff;
            text-decoration: none;
            transition: color .2s;

            &:hover {
                color: #FFA133;
            }
        }
    }
}

.home__content {
    padding: 0 3em;
    margin-top: 2em;

    h3 {
        font-family: 'Rowdies', cursive;
        font-size: clamp(16px, 3vw, 30px);
        color: #fff;
        margin-bottom: 30px;
    }

    &__posts {
        min-height: 300px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;
        padding-bottom: 2em;
    }
}